# Bible
#Uncomment to always use a precise pager w/out flags
#PAGER=cat
alias \
        drb="bbl --douay" \
        grb="bbl --greek" \
        njb="bbl --jerusalem" \
        knx="bbl --knox" \
        kjv="bbl --kjv" \
        rsv="bbl --rsv" \
        vul="bbl --vulgate" \
        nwt="bbl --nwt"
